server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://${USER_SERVICE_HOST:localhost}:8081
          predicates:
            - Path=/api/users/**
        - id: product-service
          uri: http://${PRODUCT_SERVICE_HOST:localhost}:8082
          predicates:
            - Path=/api/products/**
        - id: order-service
          uri: http://${ORDER_SERVICE_HOST:localhost}:8083
          predicates:
            - Path=/api/orders/**
        - id: inventory-service
          uri: http://${INVENTORY_SERVICE_HOST:localhost}:8084
          predicates:
            - Path=/api/inventory/**
        - id: notification-service
          uri: http://${NOTIFICATION_SERVICE_HOST:localhost}:8085
          predicates:
            - Path=/api/notifications/**
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"

jwt:
  secret: mySecretKeyForJWTTokenGenerationMustBe256BitsLong!!

management:
  endpoints:
    web:
      exposure:
        include: health,info
