server:
  port: 8083

spring:
  application:
    name: order-service
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/orderdb
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

services:
  product-service:
    url: http://${PRODUCT_SERVICE_HOST:localhost}:8082
  inventory-service:
    url: http://${INVENTORY_SERVICE_HOST:localhost}:8084
  notification-service:
    url: http://${NOTIFICATION_SERVICE_HOST:localhost}:8085

management:
  endpoints:
    web:
      exposure:
        include: health,info
