name: CI

on:
  push:
    branches: [ master ]
  pull_request:

jobs:

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Run tests for all microservices
        run: ./gradlew clean test --no-daemon

  build_and_docker:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build JAR files
        run: ./gradlew clean build --no-daemon

      - name: Build Docker images
        run: docker compose build

      - name: Run Docker Compose
        run: docker compose up -d
